<div id="root" class="bg-dark bg-gradient">

  <div id="main-stats" class="container-fluid ps-3 w-100 text-center">
    <button id="general-stats-btn" class="btn btn-secondary" type="button" data-bs-toggle="collapse"
      data-bs-target="#general-stats" aria-expanded="false" aria-controls="collapseExample">
      General stats !
    </button>

    <div class="collapse" id="general-stats">
      <div class="card card-body text-center bg-dark bg-gradient">
        <div id="general-stats-1" class="d-flex justify-content-between p-2 text-center">
          <span>Total Comenzi: </span> <span id="stats-total-comenzi">0</span>
          <span>Total Useri(rank>0): </span> <span id="stats-total-useri">0</span>
          <span>Total Bauturi: </span> <span id="stats-total-bauturi">0</span>
        </div>
        <div id="general-stats-2" class="">
          <select id="party-date-select" class="form-select" aria-label="Selecteaza Data">
          </select>
          <div id="stats-beverages-1">

          </div>

        </div>
      </div>
    </div>
  </div>
  <!--TODO THE REST -->
  <div id="main-stats" class="container-fluid ps-3 w-100 text-center">
    <button id="carousel-btn" class="btn btn-secondary" type="button" data-bs-toggle="collapse"
      data-bs-target="#carousel-manager" aria-expanded="false" aria-controls="collapseExample">
      Carousel Manager !
    </button>

    <div class="collapse" id="carousel-manager">
      <div class="card card-body text-center bg-dark bg-gradient">
        <div class="d-flex container-fluid w-100  justify-content-between p-2 text-right ">
          <div class="list-group" id="carousel-img-select" style="width: 50%;">
          </div>
          <div id="image-preview" class="" style="align-self: center; width:20em; height:14em">
            <img src="/images/bg.jpg" class="img-fluid img-thumbnail" id="preview-image" style="max-height:12em ;"/>
          </div>
        </div>

        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary text-white" type="button" id="submit-file">Upload</button>
          <input type="file" class="form-control text-white" id="file-upload" name="data" aria-describedby="submit-file"
            aria-label="Upload" accept="image/gif, image/jpeg, image/png">
            <button class="btn btn-secondary ms-1 text-white btn-danger" type="button" id="delete-files">Delete Non-Selected Files</button>
        </div>

      </div>

    </div>
  </div>



  <script src="/javascripts/admin.js"></script>
  <script>



  </script>


</div>