<div id="bartender-page" class="bg-dark bg-gradient">
    <nav class="navbar bg-dark sticky-top nav-fill rounded-pill ">
        <div class="container-fluid ps-3">
            <div class="ps-3">
                <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="2.1em" height="2.1em" fill="white"
                        class="bi bi-arrow-left-circle" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg></a>
                {{#equals rank 2}}
                <a type="button" id="to_adminbtn" href="/admin" class="btn btn-secondary mb-3 m-2" role="button">Admin
                    Page</a>
                {{/equals}}
            </div>
            <span class="navbar-text justify-content-end text-primary text-center pe-3">
                TOTAL:
                <span id="total" class="navbar-text text-primary fs-4 text-decoration-underline">---</span>
                <span class="navbar-text text-primary fs-4 text-decoration-underline">RON</span>
            </span>
            <span class="navbar-text text-info w-100 text-center">
                <button id="reset" type="reset">Reset</button>
                <button id="comanda" class="primary mb-3  m-2" type="submit">Comanda</button>
            </span>
        </div>
    </nav>
    <div class="w-100 d-flex align-items-center justify-content-center ">
        <span class="text-secondary">Total Comenzi(user current) : </span>
        <span id="ordercount" class="lead text-primary"> 0</span>
    </div>
    <div class="container" id="container">
    </div>
    <div id="snackbarLogin"></div>
    <div class="position-absolute top-94 start-50 translate-middle">
    </div>
    <script>

        generate();

        //commanda test
        $('#comanda').click(function () {

            var beveragesBuilder = [];

            bev.forEach(function (item) {
                if (item.quantity > 0) {
                    beveragesBuilder.push('(insert beverage { name:=');
                    beveragesBuilder.push(`'${item.name}', price:=`);
                    beveragesBuilder.push(`${item.price}, masa:=`);
                    beveragesBuilder.push(`'${item.masa}', quantity:=`);
                    beveragesBuilder.push(`${item.quantity}}),`)
                }
                item.quantity = 0;
            });

            if (beveragesBuilder.length < 1)
                return;

            resetquantity();

            $.ajax({
                url: '/send/insertorder',
                type: 'POST',
                data: JSON.stringify({
                    beverages: beveragesBuilder.join("")
                }),
                datatype: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#snackbarLogin').text(data);
                    showToastLogin();
                }
            });
        });



        function resetquantity() {
            var elms = document.querySelectorAll("[id='quantity']");

            for (var i = 0; i < elms.length; i++)
                elms[i].value = 0;
        }

        function updateCountComenzi() {
            $.ajax({
                url: '/send/ordercountuser',
                type: 'POST',
                data: JSON.stringify({

                }),
                datatype: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#ordercount').text(data);
                }
            });

        };
        //prostie de test NU se face asa in productie; NU FACE NIMIC 
        var executed = false;
        if (!executed) {
            updateCountComenzi();
            executed = true;
        }

        setInterval('updateCountComenzi()', 30000);

        $('#reset').click(function () {

            bev.forEach(function (item) {
                item.quantity = 0;
            });
            resetquantity();

        });

    </script>
</div>