<!-- Wrapper -->

<div id="wrapper">
	<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="5000">
				<img src="/images/carousel/digg_01.jpg" class="d-block img-fluid mobile-stretch imagine" alt="...">
			</div>
			<div class="carousel-item" data-bs-interval="5000">
				<img src="/images/carousel/poza_1.jpg" class="d-block img-fluid mobile-stretch imagine" alt="...">
			</div>
			<div class="carousel-item" data-bs-interval="5000">
				<img src="/images/carousel/poza_2.jpg" class="d-block img-fluid mobile-stretch imagine" alt="...">
			</div>
		</div>
	</div>








	<nav class="navbar navbar-expand-lg position-absolute bottom-0 border-top border-white navbar-light custom-nav">
		<div class="container-fluid container-nav-custom ">
			<div class="d-flex">
			<a class="navbar-brand bg-light itemc text-center border border-white " id="introbtn">Intro</a>
			<button id="toggleNavBtn" class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				
			</button>
</div>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav itemc ">
					<li id="nav-item" class="nav-item text-center border border-white ">
						<a class="nav-link bg-light" aria-current="page" id="bartenderbtn"
							loggedin="{{loggedin}}">Bartender Area</a>
					</li>
					<li id="nav-item" class="nav-item text-center border border-white ">
						<a class="nav-link bg-light" id="organizatorbtn">Organizatori</a>
					</li>
					<li id="nav-item" class="nav-item text-center border border-white ">
						<a class="nav-link bg-light" id="contactbtn">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>





	<!-- Main -->
	<div id="main" class="position-absolute">

		<!-- Intro -->
		<article id="intro" class="d-none">
			<div class="container-fluid d-flex justify-content-between">
				<h2 class="major">Digg Party Info</h2>
				<button type="button" class="btn-close btn-close-white" id="intro-close" aria-label="Close"></button>
			</div>
			<!--<span class="image main"><img src="images/pic01.jpg" alt="" /></span>-->



			<p>Digg este un party.... bla bla bla ... </a>.</p>
			<p>Acest website NU este inca gata, nici macar in faza de pre-alpha nu este !<br> This website is under
				heavy development !</p>
		</article>

		<!-- Work -->
		<article id="work" class="d-none">
			<div class="container-fluid d-flex justify-content-between">
				<h2 class="major">Bartender Area</h2>
				<button type="button" class="btn-close btn-close-white" id="work-close" aria-label="Close"></button>
			</div>
			<div id="loginArea">
				<form method="post" action="javascript:void(0)" ;>

					<div class="fmb-3 input-group-lg">
						<label for="username" class="form-label">Username</label>
						<input type="text" name="username" class="form-control" id="usernameLogin" minlength="3"
							oninput="all_lowercase();" required />



						<label for="password" class="form-label">Password</label>
						<input type="password" name="password" class="form-control" id="passwordLogin" minlength="6"
							oninput="passwordVa()" required />


					</div>
					<div class="d-flex p-2 ">
						<input type="submit" id="login" value="Login" class="primary mb-3 m-2" />
						<input type="button" id="toRegister" value="Register" class="primary mb-3 m-2" />
					</div>

				</form>
			</div>
			<div id="registerArea" hidden>
				<form method="post" class="needs-validation" action="javascript:void(0)" ;>
					<div class="input-group-lg mb-3">

						<label for="username" class="form-label">Username</label>
						<input type="text" class="form-control" name="username" id="username" minlength="3"
							oninput="all_lowercase_reg()" />


						<label for="namefull" class="form-label">Full Name</label>
						<input type="text" class="form-control text-uppercase" name="namefull" id="namefull" minlength="4"
							oninput="capitalize_fullname()" />


						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" name="password" id="password" id="password"
							minlength="6" oninput="validatePassword();" required />

						<label for="password2" class="form-label">Re-type Password</label>
						<input type="password" class="form-control" name="password2" id="password2" id="password2"
							minlength="6" oninput="validatePassword();" required />

					</div>
					<div class="d-flex p-2 ">
						<input type="submit" id="register" value="Register" class="btn-primary mb-3  m-2" />
						<input type="button" id="returnToLogin" value="Back" class="btn-secondary mb-3  m-2" />
					</div>

				</form>
			</div>
			<script>


			</script>
			<div id="snackbar"></div>
		</article>

		<!-- organizatori -->
		<article id="organizatori" class="d-none ">
			<div class="container-fluid d-flex justify-content-between">
				<h2 class="major">About</h2>
				<button type="button" class="btn-close btn-close-white" id="oraganizatori-close"
					aria-label="Close"></button>
			</div>
			<span class="image main"><img src="images/pic03.jpg" id="org-img" alt="" /></span>
			<p>Aici punem poze cu organizatorii. <br> Desigur dupa prelucrarea pozelor in photoshop pentru a nu strica
				estetica paginii ! </p>
		</article>

		<!-- Contact -->
		<article id="contact" class="d-none ">
			<div class="container-fluid d-flex justify-content-between">
				<h2 class="major">Contact</h2>
				<button type="button" class="btn-close btn-close-white" id="contact-close" aria-label="Close"></button>
			</div>
			<form method="post" action="javascript:void(0)" ;>
				<div class="fmb-3 input-group-lg">

					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" name="name" id="name" />


					<label for="email" class="form-label">Email</label>
					<input type="text" class="form-control" name="email" id="email" />


					<label for="message" class="form-label">Message</label>
					<textarea name="message" id="message" class="form-control" rows="4"></textarea>

				</div>
				<div class="d-flex p-2 ">
					<input type="submit" value="Send Message" id="sendmsg" class="btn btn-primary btn-lg mb-3  m-2" />
					<input type="reset" value="Reset" id="reset" class="btn btn-reset btn-lg mb-3  m-2" />
				</div>
			</form>
			<ul class="icons d-flex">
				<!--<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
				<a href="https://facebook.com/digg.dolma" class="icon"><i class="bi bi-facebook"></i></a>
				<a href="https://instagram.com/digg.dolma" class="icon"><i class="bi bi-instagram"></i></a>
				<a href="https://github.com/spectral369" class="icon"><i class="bi bi-github"></i></a>
			</ul>
		</article>

	</div>


	<div class="card-footer border-success position-absolute bottom-0" id="footer2">&copy; <a
			href="https://github.com/spectral369" target="_blank">spectral369</a> </div>


</div>